.jumbotron {
    min-width: 585px;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    margin: 0px 0px 0px 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    color:cornsilk;
    font-weight:bolder;
    border-radius: 0;
    font-size: -webkit-xxx-large;
    background-image: linear-gradient(to right, rgba(10, 10, 10, 0.589), rgb(8, 99, 173));
    
  }

  main {
    margin: 10px;
    overflow: hidden;
    display:contents;
   
  }
   h4 {
     background-color: cornsilk;
     padding:10px;     
   }

 .currentWeather {
     background-color: lightgrey;
     margin-top: 17px;  
     margin-bottom: 17px;
     padding: 1rem;   
     border: black solid 2px;
     width: inherit;
     height:fit-content;
 }

 .text-uppercase {
  text-transform: inherit;
}

 .forecast {
     width: 100%;
     display: inline-flex;
     padding: auto 0px;
     

 }

 .card {
    display: table-cell;
    margin-bottom: 10px;
    background-color: #2778c4;
    }

.card-body {
  text-align: left;
  padding: 0.25rem;

}

.citySearch {
    font-size: 1.5rem;
}

.card-deck {
  display:flex;
}


  
@media (min-width: 576px){
.card-deck {
    -ms-flex-flow: column;
    flex-flow: column;
    margin-right: 5px;
    margin-left: 5px;
}
}

@media (max-width: 992px) {
.card-deck .card {
  display: contents;
  margin-right: 5px;
  margin-left: 5px;
  }
}

@media (min-width: 993px) {
  .card-deck .card {
    display: contents;
    margin-right: 5px;
    margin-left: 5px;
    }
}

  @import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

